

html * {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-style: normal;
	font-stretch: normal;
	font-weight: 300;
	letter-spacing: 0.3px;
}

body {
	min-width: 320px;
	white-space: nowrap;
	padding: 10px 50px 0 30px;
	margin: 0;
	overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
	padding: 0;
	margin: 0;
}

h2 {
	height: 30px;
	font-size: 22px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.36;
	letter-spacing: normal;
	text-align: left;
	color: #005175;
	margin-bottom: 15px;
}

h2.title {
	color: #006ea0;
}

h3 {
	height: 24px;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.5;
	letter-spacing: 0.3px;
	text-align: left;
	color: #3e3d3f;
}

h4 {
	height: 17px;
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.21;
	letter-spacing: 0.2px;
	text-align: left;
	color: #3e3d3f;
	margin-bottom: 2px;
}

#icalculator, #iresults {
	display: inline-block;
}

#icalculator {
	position: relative;
	left: 40px;
	z-index: 999;
	padding: 25px 40px 40px 40px;
	width: 390px;
	height: 457px;
	border-radius: 4px;
	background-color: #ffffff;
	box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.1);
}

.separator {
  width: 100%;
  height: 1px;
  background-color: #cacaca;
	margin-bottom: 25px;
}

#icalculator .row {
	padding: 10px 0;
	white-space: nowrap;
}

#icalculator .row .column {
	width: 50%;
	padding: 0;
	margin: 0;
	display: inline-block;
	margin: 0 5px 0 0;
}

#icalculator input {
	border-radius: 4px;
	background-color: #ffffff;
	border: solid 1px #a6a6a6;
}

#icalculator input:focus {
	box-shadow: 0 0 4px 0 rgba(62, 61, 63, 0.62);
	border: solid 1px #3e3d3f;
}

.no-editable {
	pointer-events: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#iresults {
    position: absolute;
    top: 121px;
    left: 514px;
	width: 166px;
	height: 368px;
	background-color: #eaf6fa;
	padding: 36px 66px;
	-ms-transition-property: top;
	-ms-transition-duration: 0.3s;
	-o-transition-property: top;
	-o-transition-duration: 0.3s;
	transition-property: top;
	transition-duration: 0.3s;
}

#iresults .separator {
	height: 1px;
	background-color: #cbcbcb;
	margin: 20px 0 20px 0;
}

#iresults h2 {
	font-size: 22px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.36;
	letter-spacing: normal;
	text-align: left;
	color: #3e3d3f;
	margin-bottom: 29px;
}

#iresults h3 {
	height: 30px;
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.67;
	letter-spacing: normal;
	text-align: left;
	color: #3e3d3f;
}

#iresults h5 {
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 2.14;
	letter-spacing: normal;
	text-align: left;
	color: #3e3d3f;
}

#iresults span {
	font-size: 18px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.67;
	letter-spacing: normal;
	text-align: left;
	color: #3e3d3f;
}

#iresults .results {
	font-size: 22px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.36;
	letter-spacing: normal;
	text-align: left;
	color: #3e3d3f;
}

.slider-wrapper * {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.slider-wrapper .minlimit, 
.slider-wrapper .slider-container, 
.slider-wrapper .maxlimit, 
.slider-wrapper input {
	display: inline-block;
}

.slider-wrapper span:first-child  {
	width: 30px;
	text-align: left;
}

.slider-wrapper span {
	width: 30px;
	text-align: right;
}

.slider-wrapper input {
	margin: 0 0 0 7px;
	width: 58px !important;
	height: 41px !important;
	border-radius: 4px;
	background-color: #ffffff;
	border: solid 1px #cacaca;
	text-align: center;
	font-size: 16px;
}

.slider-container {
	position: relative;
	width: 263px;
	height: 8px;
	background: #cacaca;
	border-radius: 4px;
}

.slider-container span {
	position: absolute;
	top: -8px;
	left: 0;
	display: inline-block;
	height: 24px !important;
	width: 24px !important;
	object-fit: contain;
	background-color: #ffffff;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.27);
	border-radius: 12px;
}

.prefix {
	position: relative;
}

.prefix span {
	position: absolute;
	line-height: 41px;
	top: 1px;
	left: 25px;
	font-size: 16px;
}

@-moz-document url-prefix() {
	.prefix span {
		top: 0px;
	}
}

.prefix input {
	padding: 0px 35px;
	line-height: 41px;
	height: 41px !important;
	width: 318px;
	font-size: 16px;
	vertical-align: middle;
}

.column .prefix input {
	width: 113px;
}

#icalculate-btn {
	width: 100%;
	height: 45px;
	border-radius: 4px;
	background-color: #0077c0;
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.3px;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	border: none;
}

.input-warning {
	border: solid 1px #da3535;
}

.warning {
	display: none;
	font-size: 12px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.3px;
	text-align: left;
	color: #da3535;
}

.show {
	display: table !important;
}

.faded-gray {
	opacity: 0.2;
}

@media only screen and (max-device-width: 800px) , (max-width:800px) {

	body {
		padding: 20px 0 0 0;
	}

	h2 {
		height: 30px;
		font-size: 22px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.36;
		letter-spacing: normal;
		text-align: left;
		color: #005175;
		margin-bottom: 15px;
	}

	h2.title {
		margin-left: 20px;
		height: 24px;
		font-size: 20px;
		font-weight: 300;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.2;
		letter-spacing: 0.5px;
		text-align: left;
		color: #006ea0;
	}

	h3 {
		height: 20px;
		font-size: 12px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.67;
		letter-spacing: 0.2px;
		text-align: left;
		color: #3e3d3f;
	}

	h4 {
		height: 20px;
		font-size: 12px;
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.67;
		letter-spacing: 0.2px;
		text-align: left;
		color: #3e3d3f;
	}

	.center {
		text-align: center;
		box-sizing: border-box;
	}

	#iresults {
		box-sizing: border-box;
		top: 180px;
		left: 7vw;
		width: 82vw;
		padding: 3vw;
	}

	#icalculator {
		min-width: 280px;
		width: 80vw;
		margin: 0;
		left: 0;
		padding: 3vw;
	}

	.prefix {
		box-sizing: border-box;
	}

	.prefix input {
		box-sizing: border-box;
		width: 100%;
	}

	#icalculator .row .column {
		width: 45%;
		margin: 0 10% 0 0 ;
	}

	#iresults .row {
		display: block;
		height: 30px;
		padding: 15px 0;
	}

	#iresults .row.border {
		border-bottom: solid 1px #b2b2b2;
	}

	#iresults .separator {
		display: none;
	}

	#iresults .row h5, #iresults .row h3 {
		float: left;
	}

	#iresults .row span {
		float: right;
	}

	.column .prefix input {
		box-sizing: border-box;
		width: 100%;
	}

	.slider-container {
		position: relative;
		width: 55%;
		height: 8px;
		background: #cacaca;
		border-radius: 4px;
	}

	.slider-container span {
		position: absolute;
		top: -8px;
		display: inline-block;
		height: 24px !important;
		width: 24px !important;
		object-fit: contain;
		background-color: #ffffff;
		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.27);
		border-radius: 12px;
	}

	.slider-wrapper span:first-child  {
		padding: 0;
		margin: 0;
		width: 13%;
		text-align: left;
	}

	.slider-wrapper span {
		padding: 0;
		margin: 0;
		width: 16%;
		text-align: center;
	}

	.slider-wrapper input {
		margin: 0;
		width: 15% !important;
		height: 41px !important;
		border-radius: 4px;
		background-color: #ffffff;
		border: solid 1px #cacaca;
		text-align: center;
		font-size: 16px;
	}

	.warning {
		font-size: 10px;s
	}

	.display {
		top: 560px !important;
	}
} 

